#splash {
    -fx-background-color: #9d0d0c;
}

#splashTitle {
    -fx-text-fill: #eeeeee;
}

#tool {
    -fx-background-color: #9d0d0c;
}

#toolNew, #toolSave, #toolConfig, #toolExit {
    -fx-background-color: #9d0d0c;
}

#toolNew:hover, #toolSave:hover, #toolConfig:hover, #toolExit:hover {
    -fx-background-color: #bd0600;
}

#game {
    -fx-background-color: #9d0d0c;
}

#gamePlayground {
    -fx-background-color: #9d0d0c;
}

#gameSettings {
    -fx-background-color: #9d0d0c;
}

#gameSettingsThemeChoice, #gameSettingsKeymapChoice, #gameSettingsMusicChoice {
    -fx-background-color: #eeeeee;
}

.choice-box .context-menu { -fx-background-color: #eeeeee; }
.choice-box .menu-item:focused { -fx-background-color: #bd0600; }
.choice-box .menu-item > .label { -fx-text-fill: #9d0d0c; }
.choice-box .menu-item:focused > .label { -fx-text-fill: #eeeeee; }

#gamePlaygroundTimer {
    -fx-text-fill: #eeeeee;
}

#gamePlaygroundCheck, #gamePlaygroundSolve, #gamePlaygroundClear {
    -fx-background-color: #9d0d0c;
}

#gamePlaygroundCheck:hover, #gamePlaygroundSolve:hover, #gamePlaygroundClear:hover {
    -fx-background-color: #bd0600;
}

.sudokuBtn {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #cacaca;
    -fx-text-fill: #555555
}

.sudokuBtn:hover {
    -fx-background-color: #dddbdc;
}

.sudokuBtn:focused {
    -fx-background-color: #cacaca;
}

.puzzleBlock, .puzzleBlock:focused, .puzzleBlock:hover {
    -fx-background-color: #333333;
    -fx-text-fill: #eeeeee;
}

.dialog-pane, .header-panel {
    -fx-background-color: #9d0d0c;
}

.dialog-pane .label {
    -fx-text-fill: #eeeeee;
    -fx-padding: 0 0 0 30;
}

.dialog-pane .button {
    -fx-background-color: #9d0d0c;
    -fx-text-fill: #eeeeee;
}

.dialog-pane .button:hover {
    -fx-background-color: #bd0600;
}

.header-panel .label {
    -fx-text-fill: #eeeeee;
    -fx-padding: 0 0 0 10;
    -fx-font-size: 2em;
}
